# as flake 8 identifies linting errors in django default codes as well , 
# hence excluding those files to avoid fixing them 
[flake8]
exclude = 
    migrations,
    __pychache__,
    manage.py,
    settings.py,
    #to skip these indentations and line empty checks we added files here 
    wait_for_db.py,
    test_commands.py